{% load static %}
<html>
    <head>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'CSS/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'CSS/main.css'%}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- beginning of header -->
        <header>
        <div class="container-fluid">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Alpha Tech Academy</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
                <a class="p-2 text-dark" href="{% url 'blog' %}">Blog</a>
                <a class="p-2 text-dark" href="{% url 'mentor' %}">Mentor</a>
                <a class="p-2 text-dark" href="{% url 'mentee' %}">Mentee</a>
                <a class="p-2 text-dark" href="{% url 'author' %}">Author</a>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 des-header text-center">
                <img src="{% static 'image/alpha-logo.png' %}"><br>
                <h1>Alpha Tech Academy</h1>
                <p>
                    Alpha Tech Academy is a tech talent incubator that gives 
                    everyone (even <br>non IT background) a chance to be a professional
                    Tech Talent within 3 <br> months. Contact Person: Email: academy@alphatech.id
                    Mobile phone:<br> 0877 9609 9530
                </p>
            </div>
        </header>
        <!-- end of header -->
        <!-- beginning of content -->
        <div class="container-fluid .co-mentor">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <img src="{% static 'image/profile-pic2.jpg' %}">
                    <h3>Fatma Janna</h3>
                    <p>
                        Hi, my name is Fatma! I am a software engineer at Alterra. I started my career 
                        at Alterra as a trainee, which means that I was one of the students of Alpha Tech Academy.
                        It was indeed an awesome and rewarding journey of my life, because I got to learn 
                        lots of things about technology and gain valuable softskills to become a full 
                        rounded graduate and completely well-prepared for the job in the tech industry. 
                        My dream of becoming a software engineer had started since I'd just graduated from 
                        my university and I see that our country has got tons of problems that I wanted to 
                        contribute to solve these problems, well at least one of those very many. In the mean time,
                        the startup companies have also grown rapidly both locally and globally and we are now 
                        in the era of Industry 4.0 where everything is just about technology.
                    </p>
                    <table>
                        <tr>
                            <td>
                                Alamat 
                            </td>
                            <td>
                                : Jalan Kaluta No. 9, Karang Besuki. Malang, Jawa Timur
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Telephone 
                            </td>
                            <td>
                                : +62 8 1210 387 399
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Education
                            </td>
                            <td>
                                : Bachelor of Petroleum Engineering from the Universiti Teknologi Petronas <br>
                                Master of Engineering Science (Petroleum) from the University of New South Wales
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Profession
                            </td>
                            <td>
                                : Software Engineer
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nationality
                            </td>
                            <td>
                                : Indonesian
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Company
                            </td>
                            <td>
                                : Alterra
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email
                            </td>
                            <td>
                                : fatma@alphatech.id
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address 
                            </td>
                            <td>
                                : Jalan Raya Tidar No. 23, Karang Besuki. Malang, Jawa Timur
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <!-- end of content -->
        <!-- beginning of footer     -->
        <footer>
                <br><div class="container-fluid">
                    <div class="col-md-12 col-lg-12 col-sm-12 text-center" id="kaki">
                        <span>Our Product:</span>
                        <img src="{% static 'image/logo-grey-alphapay.png' %}">
                        <img src="{% static 'image/logo-grey-sepulsa.png' %}">
                        <img src="{% static 'image/logo-grey-alphabill.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 text-center" id="kaki_bawah">
                        <span>Contact Person: </span>
                        <span>Mobile Phone: 0877 9609 9530. Email: </span>
                        <span>academy@alphatech.id</span>
                    </div>
                </div>
        </footer>
    </body>
</html>
