{% load static %}
<html>
    <head>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'CSS/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'CSS/main.css'%}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
        <div class="container-fluid">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Alpha Tech Academy</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
                <a class="p-2 text-dark" href="{% url 'blog' %}">Blog</a>
                <a class="p-2 text-dark" href="{% url 'mentor' %}">Mentor</a>
                <a class="p-2 text-dark" href="{% url 'mentee' %}">Mentee</a>
                <a class="p-2 text-dark" href="{% url 'author' %}">Author</a>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 des-header text-center">
                <img src="{% static 'image/alpha-logo.png' %}"><br>
                <h1>Alpha Tech Academy</h1>
                <p>
                    Alpha Tech Academy is a tech talent incubator that gives 
                    everyone (even <br>non IT background) a chance to be a professional
                    Tech Talent within 3 <br> months. Contact Person: Email: academy@alphatech.id
                    Mobile phone:<br> 0877 9609 9530
                </p>
            </div>
        </div>
        </div>
        </header>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <img class="gambar" src ="{% static 'image/benefit.png' %}">
            </div>
            <div class="col-md-8 col-lg-8 kanan">
                <h4>Learn awesome tech</h4>
                <p>
                    You will learn about programming language, such as Python and Javascript,
                    build back-end apps using Flask framework with microservice concept, build
                    client-size apps using React Library, etc.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <img class="gambar" src ="{% static 'image/search-job.png' %}">
            </div>
            <div class="col-md-8 col-lg-8 kanan">
                <h4>Land new job</h4>
                <p>
                    If you can pass this awesome program, you will be part of our reliable 
                    tech team for especially Software Engineer position and other tech position 
                    such as Quality Engineer, System Analyst, etc.
                </p>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <img class="gambar" src ="{% static 'image/get-paid.png' %}">
            </div>
            <div class="col-md-8 col-lg-8 kanan">
                <h4>Get paid to learn</h4>
                <p>
                    Join for free and earn some money. Yes you read that right, no registration fee 
                    required to enter this program. To make things even better, you will receive pocket 
                    money just for participating. Cool, right?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <img class="gambar" id="gamis" src ="{% static 'image/mission.png' %}">
            </div>
            <div class="col-md-8 col-lg-8 kanan">
                    <br>
                    <h3>Who are we?</h3>
                    <p>
                        Alpha Tec Academy is a tech talent that gives anyone chance (not) 
                        even an IT background) to learn within 3 months of being a professional 
                        Tech Talent. What is our mission? We want to improve capability Tech Talent 
                        in Indonesia.
                    </p>
                    <h3>What is our mission?</h3>
                    <p>
                        We want to improve capability Tech Talent in Indonesia.
                    </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 bawah">
                <h3>What will you learn?</h3><br>
            </div>
        </div>
        <div class="row" id="under"> 
            <div class="col-md-2 col-6 col-sm-3" id="kotak_bawah">
                <img class="gamb" src ="{% static 'image/learn-html.png' %}">
            </div>
            <div class="col-md-2 col-6 col-sm-3" id="kotak_bawah">
                <img class="gamb" src ="{% static 'image/learn-programming.png' %}">
            </div>
            <div class="col-md-2 col-6 col-sm-3" id="kotak_bawah">
                <img class="gamb" src ="{% static 'image/learn-git.png' %}" id="git">
            </div>
            <div class="col-md-2 col-6 col-sm-3" id="kotak_bawah">
                <img class="gamb" src ="{% static 'image/learn-api.png' %}" id="api">
            </div>
        </div>
        <div class="row" id="under"> 
            <div class="col-md-2 col-6 col-sm-6" id="kotak_bawah">
                <img class="gamb" src ="{% static 'image/learn-react.png' %}">
            </div>
            <div class="col-md-2 col-6 col-sm-6" id="kotak_bawah">
                <img class="gamb" src ="{% static 'image/learn-tdd.png' %}">
            </div>
            <div class="col-md-2 col-6 col-sm-6" id="kotak_bawah">
                <img class="gamb" src ="{% static 'image/learn-server.png' %}">
            </div>
            <div class="col-md-2 col-6 col-sm-6" id="kotak_bawah">
                <img class="gamb" src ="{% static 'image/learn-scrum.png' %}">
            </div>
        </div>
        </div>
	<p>ini hilman mencoba</p>
	<p>ini hilman mencoba edit</p>
	<p>ini hilman mencoba untuk editing</p>
	<p>ini hilman mencoba dan terus mencoba</p>
        <footer>
            <br><div class="container-fluid">
                <div class="col-md-12 col-lg-12 col-sm-12 text-center" id="kaki">
                    <span>Our Product:</span>
                    <img src="{% static 'image/logo-grey-alphapay.png' %}">
                    <img src="{% static 'image/logo-grey-sepulsa.png' %}">
                    <img src="{% static 'image/logo-grey-alphabill.png' %}">
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 text-center" id="kaki_bawah">
                    <span>Contact Person: </span>
                    <span>Mobile Phone: 0877 9609 9530. Email: </span>
                    <span>academy@alphatech.id</span>
                </div>
            </div>

        </footer>
    </body>
</html>
